.change-password-page{
    .change-password-block{
        width: 55%;
        margin: 0 auto;
    }

    .change-password-button{
        margin: 20px 0 14px 0;
        display: flex;
        align-items: center; 
        justify-content: flex-end;

        > :not(:first-child) { margin-left: .25rem; }
        > :not(:last-child) { margin-right: .25rem; }
    }

    .password-block-contents{
        text-align: center;

        .MuiFormControl-root{
            width: 100%;
            margin-top: 23px;
        }
    }   

    .info-color{
        color: #1976d2;
        cursor: pointer;
    }
}