.add-other-price{

    .manage-config-color{
        .MuiFormControl-root {
            vertical-align: sub;
        }
        background-color: #f5f5f5;
    }

    .category-delete{
    float: right;
    margin: 15px 15px 0 0;
    }

    .add-sub-category{
        margin: 15px 0;
    }

    .add-button-align{
        display: inline-block;
        position: absolute;
        bottom: 14%;
    }

}