.page-min-ht{
   min-height: 33rem;
   height: auto;
};
.view-page-min-ht{
   min-height: 500px;
   height: auto;
}
.plan-page-min-ht{
   min-height: 14rem;
   height: auto;
}

.error-text {
   color: red;
}