$dark_theme1: #464D69;
.product-main-wrapper {
    .row {
        width: 100%;
        margin: 0;
    }
    .btn-footer-group {
        display: block;
        width: 100%;
        text-align: right;
    }
    .select-checkbox-appicable {
        display: block;
        width: 100%;
        font-size: 10px;
    }
    .product-grid {
        border: 1px solid #e9e9e9;
        background-color: #F8F8F8;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        display: table;
        margin: 10px 0 10px 0;

        .table-heading {
            background: #FFFFFF;
            border-bottom: 2px solid $dark_theme1;
            display: table-header-group;

            .grid-row {
                display: table-row;

                .header {
                    padding: 6px 4px 6px 8px;            
                    font-size: 13px;
                    font-weight: bold;
                    color: #333333;
                    text-align: left;
                    border-left: 1px solid #e0e0e0;
                    display: table-cell;

                    &:first-child {
                        border-left: none;
                    }
                }

                .no-border {
                    border-left: none;
                }

                .price-header {
                    width: 48%;
                }

                .other-grand-total-header {
                    width: 60%;
                }

            }

            .total-price-row {
                background-color: $dark_theme1;

                .header {
                    color: $white;
                }
            }
        }

        .grand-total-assembly {
            border-bottom: none;
        }

        .grid-body {
            display: table-row-group;
            border-bottom: 2px solid $dark_theme1;

            .grid-row {
                display: table-row;
                background-color: $white;
                &:nth-child(odd) {
                    background: #FFFFFF;
                }

                .grid-cell {
                    font-size: 13px;
                    border-right: 1px solid #e0e0e0;
                    padding: 0 4px 0 5px;
                    display: table-cell;
                    overflow: visible;

                    input {
                        border:none;
                        border-bottom:1px solid #e1e1e1;
                        outline:none;
                        padding: 0 0 5px 0;
                        width: 96%;
        
                        &:focus,
                        &:active {
                            border-bottom: 2px solid $dark_theme1;
                        }
                    }

                    .inline-div {
                        display: inline-block;
                        width: 105%;
        
        
                        .Dropdown-root {
                            position: relative;
                            top: 11px;
                            width: 95%;
                            border-radius: 0;

                            .Dropdown-control {
                                border: none;
                                border-bottom: 1px solid #e1e1e1;
                                border-radius: 0;
        
                                .Dropdown-placeholder {
                                    margin-left: -5px;
                                }

                                .Dropdown-arrow-wrapper {
                                    margin: -5px 0 0 0;
                                }
                            }
                        }
                     }

                     a {
                         margin: 0 0 0 20px;
                     }

                     .docupload {
                        border-bottom: 1px solid #e1e1e1;
                        .upload-btn-wrapper {
                            position: relative;
                            overflow: hidden;
                            display: inline-block;
                            vertical-align: top;
                            cursor: pointer;
                            .btn-wrapper {
                                padding: 7px 10px;
                                line-height: 22px;
                                cursor: pointer;
                                .btn {
                                    color: gray;
                                    background-color: transparent;
                                    font-size: 12px;
                                    border: 0 none;
                                    padding: 0;
                                    img {
                                        vertical-align: text-bottom;
                                        margin-right: 5px;
                                    }
                                }
                            }
                            input[type=file] {
                                font-size: 100px;
                                position: absolute;
                                left: 0;
                                top: 0;
                                opacity: 0;
                                cursor: pointer;
                            }
                        }
                        .delete {
                            top: 1px;
                            display: inline-block;
                            position: relative;
                            margin-right: 4px;
                            cursor: pointer;
                        }
                    }
                }

                // .grid-delete-cell {
                //     border-bottom: 1px solid #e0e0e0;
                // }

                .warehouse-cell {
                    width: 25%;
                }

                .other-price-cell {
                    width: 18%;
                }
             }
        }
    }
    .product-general-wrapper {
        .MuiGrid-container {
            width: 250px;
        }
    }
    .product-cost-wrapper {
        .selling-price {
            background-color: #f5f5f5;
            padding-left: 10px;
        }

    }
    .product-entry-wrapper {
        .MuiTextField-root {
            min-width: 153px !important;
        }
        .MuiFormControl-root {
            vertical-align: initial;
        }
    }
    .product-assembly-wrapper {
        .MuiTextField-root {
            min-width: 129px !important;
        }
        .MuiFormControl-root {
            vertical-align: initial;
        }
    }
    .product-parts-wrapper {
        .MuiTextField-root {
            min-width: 129px !important;
        }
        .MuiFormControl-root {
            vertical-align: initial;
        }
    }
    .product-specification-wrapper {
        .MuiFormControl-root {
            vertical-align: initial;
        }
    }
    .product-other-price-wrapper {
        .MuiTextField-root {
            min-width: 129px !important;
        }
        .MuiFormControl-root {
            vertical-align: initial;
        }
    }
}

.view-inventory{
    .inventory-image{
        // width: 50%;
    }

    .carousel .slider-wrapper {
        height: 290px;;
        margin-top: 10px;
        margin-left: 10px;
    }

    .carousel-slider {
        width: 90%;

        .carousel-status {
            display: none;
        }
    }

    .carousel {

        .thumbs-wrapper {
            display: none;
        }
    }

    .product-details{
        // width: 17%;
        display: inline-table;
    }

    .product-view-inventory{
        display: inline-flex;
        width: 100%;
    }

    .carousel.carousel-slider{
        width: 95% !important;
    }
}

.product-mapping{
    .MuiFormControlLabel-root{
        width: 250px;
    }
}

.multiple-btns{
    margin: 15px 0 10px 0;
    .btn-left{
        display: inline-block;
        .btn-mrgn{
            margin-right: 20px;
        }
    }
    .btn-right {
        float: right;
    }
}

.product-upload-image {
    width: 100%;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-collapse: collapse;

    .row {
        border-bottom: 1px solid #ced4da;

        .image-path {
            width: 40px;
            height: 40px;
            padding: 4px;
        }

        .image-name {
            margin: 10px 0 0 20px;
        }

        .img-delete {
            margin: 10px 0 0 20px;
        }
    }
}

.product-date-picker{
    .form-group{
        width : 24%;
        padding-top: 22px;
        .react-datepicker__input-container{
            font-size: 13.5px;
            width: 110%;
            display: inline-block;
                input[type=text] {
                    border : none;
                    border-bottom: 1px solid #464D69;
                    width: 134%;
                }
        }
        .MuiSvgIcon-root{
            width: 44px;
            padding-left: 22px;
            margin-top: 4px;
            position: relative;
            left: 33px;
            top: 8px;
            border-bottom:  1px solid #464D69;
        }
    }
}